body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#principal {
    height: 770px;
    background: url("/Projeto-Agrinho---2025-main/exuberantes-terras-agricolas-verdes-sendo-pesquisadas-por-um-drone-para-agricultura-de-precisao.jpg");
    background-repeat: no-repeat;
    background-size: 1366px, 765px;
    }

#mover {
    width: 500px;
    animation: go-back 5s;
    animation: float 5s ease-in-out infinite;
    margin-left: 750px ;

}
@keyframes go-back {
    0% {
        transform: translateY(-800px);
    }
 }
 @keyframes float {
    0%, 100% {
        transform: translateY(-800px);
    }
    50% {
        transform: translateY(-700px);  
    }
}
.titulo {
    color: white;
    font-size: 55px;
    margin: 0;
    padding: 150px;
}