body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#principal {
    height: 770px;
    background: url("/exuberantes-terras-agricolas-verdes-sendo-pesquisadas-por-um-drone-para-agricultura-de-precisao.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    }

#mover {
    width: 500px;
    animation: go-back 5s;
    animation: float 5s ease-in-out infinite;
    margin-left: 60%;

}
@keyframes go-back {
    0% {
        transform: translateY(-800px);
    }
 }
 @keyframes float {
    0%, 100% {
        transform: translateY(-2200px);
    }
    50% {
        transform: translateY(-2100px);  
    }
}
.titulo {
    color: white;
    font-size: 55px;
    margin: 0;
    padding: 150px;
    font-family:  "Outfit";

}
.italic {
    font-weight: 300;
}
.subtitulo {
    color: rgb(128, 128, 128);
    font-family: "Outfit";
    margin-left: 150px;
    margin-top: -100px;
}
#second {
    background-color: white;
    width: auto;
    height: 802px;
    padding: 205px;
    padding-left: 350px;
}
.titulo-second{
    color: rgb(0, 0, 0);
    font-family: "Outfit";
    font-size: 55px;
}
.subtitulo-second {
    color: rgb(128, 128, 128);
    font-family: "Outfit";
    margin-top: 20px;
}
/* Estilizando o wrapper para layout em linha */
.content-wrapper {
    display: flex;
    align-items: flex-start; /* Alinhar no topo */
    justify-content: space-between; /* Espaço entre os elementos */
    gap: 20px; /* Espaçamento entre o texto e a imagem */
  }
  
  /* Estilizando a imagem ao lado */
  .side-image {
    width: 500px; /* ajuste o tamanho conforme necessário */
    height: auto;
    margin-top: -50px;
    /* Opcional: adicionar margin ou outros estilos */
  }
  video {
    width: 80%;
    max-width: 600px;
    border: 2px solid #ccc;
    border-radius: 8px;
  }

  /* Estilo do botão */
  #playPauseBtn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  #playPauseBtn:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }